* {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

header {
 background-color: aliceblue;
}
h1 {
  text-align: center;
}
nav ul {
  display: flex;
  background-color: #d8a47f;
  justify-content: space-around;
  list-style-type: none;
}

main {
  display: flex;
  margin: 150px;
  flex-wrap: wrap;
  width:1730px;
}



.top-container {
  display:flex;
  margin-top: 15px;
}

.about-me-text {
  display:inline-flex;
  flex-wrap: wrap;
}

.about-me-text p {
  margin-left:20px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.);
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.7) inset;
  padding-bottom: 25px;
  padding-left:5px;
  padding-top:10px;
  padding-right:8px;
  position:absolute;
  top: 90px;
}

.about-me {
  display:inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:25px;
  border-right: 4px black;
  border-right-style: solid;
  width:150px;
  
}

.my-work {
  display:inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:25px;
  border-right: 4px black;
  border-right-style: solid;
  width:150px;
}

.main-project {
  display: inline-flex;
  width:850px;
  margin-left:20px;
}

.main-project img {
  width:100%;
}

/* overcomplicated overlay, probably needs seperate container */
.main-project p {
  background-color: white;
  position: absolute;
  top: 640px;
  right: 1200px;
  display:none;
}
.main-project:hover p {
  display: inline;
  cursor: pointer;
  
}
/* I can't get this shadow to work */
.main-project:hover img{
  box-shadow: 5px 2px 1px rgba(0, 0, 0, 1) inset;
}

.image-overlay p {
  position:absolute;
  transform: translateX(250px);
  top:640px;
  background-color: white;
  display:none;
}

.mini-project:hover p {
  display:inline;
}

.cheatsheet {
  margin-left: 170px;
}
.cheatsheet img {
  width: 100%;
}

.cheatsheet:hover p {
  display:inline;
}